<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div>
        <p class="display-5">
            user 조회 수정
        </p>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="#">기본 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">권한</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">소셜 연동</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <th:block layout:fragment="detail-content">
                <!--
                 detail-content 추가해주세요
                -->
            </th:block>
        </div>
    </div>
</div>
</html>
