<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{register-clients/layout/detail-layout}" th:with="registeredClientId=${id}">>
<div layout:fragment="detail-content">
    <a class="btn btn-primary" role="button">선택 항목 제거</a>
    <table class="table table-bordered table-hover" style="display: block; overflow-x: auto; white-space: nowrap;">
        <thead>
        <tr>
            <th style="width:50px"></th>
            <th><span>registered_client_id</span></th>
            <th><span>principal_name</span></th>
            <th><span>authorization_grant_type</span></th>
            <th><span>authorized_scopes</span></th>
            <th><span>authorization_code_issued_at</span></th>
            <th><span>authorization_code_expires_at</span></th>
            <th><span>access_token_issued_at</span></th>
            <th><span>access_token_expires_at</span></th>
            <th><span>access_token_type</span></th>
            <th><span>access_token_scopes</span></th>
            <th><span>oidc_id_token_issued_at</span></th>
            <th><span>oidc_id_token_expires_at</span></th>
            <th><span>refresh_token_issued_at</span></th>
            <th><span>refresh_token_expires_at</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="authorization : ${authorizations}">
            <td>
                <input class="form-check-input" name="checkId" type="checkbox" th:value="${authorization.id}">
            </td>
            <td><span class="d-block text-truncate" th:text="${authorization.registeredClientId}"></span></td>
            <td><span class="d-block text-truncate" th:text="${authorization.principalName}"></span></td>
            <td><span class="d-block text-truncate" th:text="${authorization.authorizationGrantTypes}"></span></td>
            <td><span class="d-block text-truncate" th:text="${authorization.authorizedScopes}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.authorizationCodeIssuedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.authorizationCodeExpiresAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.accessTokenIssuedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.accessTokenExpiresAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${authorization.accessTokenType}"></span></td>
            <td><span class="d-block text-truncate" th:text="${authorization.accessTokenScopes}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.oidcIdTokenIssuedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.oidcIdTokenExpiresAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.refreshTokenIssuedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            <td><span class="d-block text-truncate" th:text="${#temporals.format(authorization.refreshTokenExpiresAt, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</div>
</html>
