<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{register-clients/layout/detail-layout}" th:with="registeredClientId=${id}">>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/authorizations/main.js}"></script>
</th:block>
<div layout:fragment="detail-content">
    <a class="btn btn-primary" role="button" th:onclick="authorization.deleteByRegisterClientId([[${id}]])">선택 항목 제거</a>
    <th:block th:replace="~{/authorizations/main-content :: main-content}"> </th:block>
</div>
</html>
