<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{users/layout/detail-layout}" th:with="userId=${user.id}">
<th:block layout:fragment="detail-content">
    <form th:action="@{/console/users/{id}(id=${user.id})}" th:method="put">
        <div class="mb-3">
            <label class="form-label" for="id">id</label>
            <input type="text" name="id" class="form-control " id="id" style="width:400px" th:value="${user.id}" readonly>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">email</label>
            <input type="text" name="email" class="form-control " id="email" style="width:200px" th:value="${user.email}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="enabled">enabled</label>
            <div class="form-check">
                <input class="form-check-input" name="enabled" type="radio" value="true" id="enabled.true" th:checked="${user.enabled}">
                <label class="form-check-label" for="enabled.true">true</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="enabled" type="radio" value="false" id="enabled.false" th:checked="${!user.enabled}">
                <label class="form-check-label" for="enabled.false">false</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</th:block>
</html>
