<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div>
        <p class="display-5">
            register-client 생성
        </p>
    </div>

    <form th:action="@{/console/register-clients}" method="post">
        <div class="mb-3">
            <label class="form-label" for="clientId">client-id</label>
            <input type="text" name="clientId" class="form-control " id="clientId" style="width:200px">
        </div>
        <div class="mb-3">
            <label class="form-label" for="clientSecret">client-secret</label>
            <input type="text" name="clientSecret" class="form-control " id="clientSecret" style="width:200px">
        </div>
        <div class="mb-3">
            <label class="form-label" for="clientAuthenticationMethod">client-authentication-methods</label>
            <div class="form-check">
                <input class="form-check-input" name="clientAuthenticationMethod" type="radio" value="client_secret_basic" id="client_secret_basic">
                <label class="form-check-label" for="client_secret_basic">
                    client_secret_basic
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="clientAuthenticationMethod" type="radio" value="client_secret_post" id="client_secret_post">
                <label class="form-check-label" for="client_secret_post">
                    client_secret_post
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">authorization-grant-types</label>
            <div class="form-check">
                <input class="form-check-input" name="authorizationGrantTypes" type="checkbox" value="authorization_code" id="authorization_code">
                <label class="form-check-label" for="authorization_code">
                    authorization_code
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="authorizationGrantTypes" type="checkbox" value="refresh_token" id="refresh_token">
                <label class="form-check-label" for="refresh_token">
                    refresh_token
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="authorizationGrantTypes" type="checkbox" value="client_credentials" id="client_credentials">
                <label class="form-check-label" for="client_credentials">
                    client_credentials
                </label>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">redirect-uris</label>
            <th:block th:each="num : ${#numbers.sequence(1,5)}">
                <div class="mb-1">
                    <input type="text" name="redirectUris" class="form-control " style="width:400px">
                </div>
            </th:block>
        </div>
        <div class="mb-3">
            <label class="form-label">scopes</label>
            <th:block th:each="num : ${#numbers.sequence(1,5)}">
                <div class="mb-1">
                    <input type="text" name="scopes" class="form-control " style="width:200px">
                </div>
            </th:block>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
</html>
