<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <div>
        <p class="display-5">
            register-client 조회/수정
        </p>
    </div>
    <form>
        <div class="mb-3 row">
            <label class="form-label" for="id">id</label>
            <input type="id" class="form-control" id="id" th:value="${client.id}" readonly>
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="clientId">client-id</label>
            <input type="clientId" class="form-control" id="clientId" th:value="${client.clientId}">
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="clientIdIssuedAt">client-id-issued-at</label>
            <input type="clientIdIssuedAt" class="form-control" id="clientIdIssuedAt" th:value="${client.clientIdIssuedAt}">
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="clientSecret">client-secret</label>
            <input type="clientSecret" class="form-control" id="clientSecret" th:value="${client.clientSecret}">
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="clientSecretExpiresAt">client-secret-expires-at</label>
            <input type="clientSecretExpiresAt" class="form-control" id="clientSecretExpiresAt" th:value="${client.clientSecretExpiresAt}">
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="clientName">client-name</label>
            <input type="clientName" class="form-control" id="clientName" th:value="${client.clientName}">
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="clientAuthenticationMethods">client-authentication-methods</label>
            <div class="form-check">
                <input class="form-check-input" name="clientAuthenticationMethods" type="checkbox" value="" id="client_secret_basic" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'client_secret_basic')}">
                <label class="form-check-label" for="client_secret_basic">
                    client_secret_basic
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="clientAuthenticationMethods" type="checkbox" value="" id="client_secret_post" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'client_secret_post')}">
                <label class="form-check-label" for="client_secret_post">
                    client_secret_post
                </label>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label">authorization-grant-types</label>
            <div class="form-check">
                <input class="form-check-input" name="authorizationGrantTypes" type="checkbox" value="" id="authorization_code" th:checked="${#lists.contains(client.authorizationGrantTypes, 'authorization_code')}">
                <label class="form-check-label" for="authorization_code">
                    authorization_code
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="authorizationGrantTypes" type="checkbox" value="" id="refresh_token" th:checked="${#lists.contains(client.authorizationGrantTypes, 'refresh_token')}">
                <label class="form-check-label" for="refresh_token">
                    refresh_token
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="authorizationGrantTypes" type="checkbox" value="" id="client_credentials" th:checked="${#lists.contains(client.authorizationGrantTypes, 'client_credentials')}">
                <label class="form-check-label" for="client_credentials">
                    client_credentials
                </label>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="redirectUris">redirect-uris</label>
            <textarea class="form-control" id="redirectUris" rows="3" th:text="${#strings.listJoin(client.redirectUris, '&#13;&#10;')}"></textarea>
        </div>
        <div class="mb-3 row">
            <label class="form-label" for="scopes">scopes</label>
            <textarea class="form-control" id="scopes" rows="3" th:text="${#strings.listJoin(client.scopes, '&#13;&#10;')}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
</html>
