<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<div layout:fragment="content">
    <a class="btn btn-primary" href="/register-clients/views/creation" role="button">추가</a>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th><span>id</span></th>
            <th><span>client-id</span></th>
            <th><span>client-name</span></th>
            <th><span>authorization-grant-types</span></th>
            <th><span>scopes</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td>
                <a th:href="@{/register-clients/{id}(id = ${client.id})}">
                    <span class="d-inline-block text-truncate" th:text="${client.id}" style="max-width: 150px;"></span>
                </a>
            </td>
            <td><span class="d-inline-block text-truncate" th:text="${client.clientId}" style="max-width: 150px;"></span></td>
            <td><span class="d-inline-block text-truncate" th:text="${client.clientName}" style="max-width: 150px;"></span></td>
            <td><span class="d-inline-block text-truncate" th:text="${client.authorizationGrantTypes}" style="max-width: 150px;"></span></td>
            <td><span class="d-inline-block text-truncate" th:text="${client.scopes}" style="max-width: 150px;"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</html>
